/*Element Selector*/
h1{
	color:red;
}
h2,h3,h4{
	color:red;
}

/*#pray{
	color:blue;
}

#myself{
	color:green;
}

#japu{
	color:orange;
}*/
#pray,#japu{
	color:blue;
}

.redcolor{
	color:red;
}

.f20{
	font-size:20px;
}

.abc,.efg{
	color:orange;
}